<div class="container">
<form [formGroup]="cardForm" (ngSubmit)="cardSubmit(cardForm)">
    <input type="text"
      id="imageUrl"
      placeholder="imageUrl"
      name="imageUrl"
      formControlName="imageUrl"
      />
      <br>
      <input type="text"
      id="title"
      placeholder="title"
      name="title"
      formControlName="title"
      />
      <input type="text"
      id="genre"
      placeholder="genre"
      name="genre"
      formControlName="genre"
      />
      <input type="text"
      id="language"
      placeholder="language"
      name="language"
      formControlName="language"
      />
      <input type="text"
      id="price"
      placeholder="price"
      name="price"
      formControlName="price"
      />
      <input type="text"
      id="date"
      placeholder="date"
      name="date"
      formControlName="date"
      />
      <input type="text"
      id="place"
      placeholder="place"
      name="place"
      formControlName="place"
      />
      <input type="text"
      id="description"
      placeholder="description"
      name="description"
      formControlName="description"
      />
  <button type="submit">submit</button>
  </form>
  
<!-- card -->

      <div class="row">
     <div class=" col-md-4" *ngFor="let card of cards">     
    <div class="card" style="width: 18rem;" *ngIf="card.title.toLowerCase().includes(search.toLowerCase())">
      <a routerLink="/updateCard" (click)="sendDataToMovie(card)">
    <img [src]="card.imageUrl" class="card-img-top " alt="...">
      <h1> {{card.title}}</h1>
    </a>
    <button type="button" class="btn" (click)="deleteCard(card.id)">Delete</button>
    </div>
  
      </div>
   
    </div>
