<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar ">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
       
        <h3>LANGUAGE</h3>
        <!-- checkbox -->
        <input type="checkbox" id="Language1" name="Language1" value="Arabic" (click)="langFun(arabic)" #arabic>
        <label for="Language1"> Arabic</label><br>
        <input type="checkbox" id="Language2" name="Language2" value="English"  (click)="langFun(english)" #english>
        <label for="Language2"> English</label><br>
        <input type="checkbox" id="Language3" name="Language3" value="Hindi"  (click)="langFun(hindi)" #hindi>
        <label for="Language3"> Hindi</label><br>

        <!-- <label>
          <input  type="radio" value="English" name="Language" (click)="langFun(english)" #english/>English
        </label>
        <label>
          <input  type="radio" value="Arabic" name="Language" (click)="langFun(arabic)" #arabic/>Arabic
        </label>
        <label>
          <input  type="radio" value="Hindi" name="Language" (click)="langFun(hindi)" #hindi/>Hindi
        </label> -->

      </ul>


    </div>
  </nav>

